@import '../var.scss';

.excel-table {
  position: absolute;
  top: $headerHeight + $toolbarHeight + $formulaHeight;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0px 0px 25px 0px;
  &__row {
    display: flex;
    height: $heighCell;
    min-height: 25px;
  }

  &__start {
    min-width: $widthCellStartAndNumber;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $border;
    border-bottom: $border;
    font-size: 12px;
    background-color: #f8f9fa;
    position: relative;
  }

  &__row-letter {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__cell-letter {
    width: $widthCell;
    min-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border;
    border-top: none;
    border-left: none;
    // border-bottom: $border;
    background-color: #f8f9fa;
    line-height: 26px;
    position: relative;
    word-break: break-all;
  }

  &__cell-num {
    @extend .excel-table__start;
  }

  &__row-cell {
    @extend .excel-table__row-letter;
  }

  &__cell {
    @extend .excel-table__cell-letter;
    justify-content: start;
    align-items: flex-start;
    padding: 0px 5px;
    background-color: #fff;
    overflow: hidden;
  }
  &__cell.selected{
    border: 2px solid #36c;
    z-index: 1;
  }
  &__resizer-row, &__resizer-col{
    position: absolute;
    background-color: #36c;
    border-radius: 1px;
    opacity: 0;
    z-index: 1000;
    // @include anim(0.1s,0s);
  }
  &__resizer-row{
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    cursor: row-resize;
    @media (min-width: 992px){
      &:hover{
        &{
          opacity: 1 !important;
        }
      }
    }
  }
  &__resizer-col{
    bottom: 0;
    top: 0;
    right: 0;
    width: 4px;
    cursor: col-resize;
    @media (min-width: 992px){
      &:hover{
        &{
          opacity: 1 !important;
        }
      }
    }
  }
}
