@import '../var.scss';

.excel-toolbar {
  border-bottom: $border;
  padding: 5px 15px;
  position: absolute;
  top: $headerHeight;
  height: $toolbarHeight;
  left: 0;
  right: 0;
  &__row {
    display: flex;
    @media (max-width:$md3+px){
      flex-wrap: wrap;
    }
  }

  &__button {
    padding: 0px 15px 0px 15px;
    &:first-child{
      padding:0px 15px 0px 0px;
    }
    border-right: $border;
    @media (max-width:$md4+px){
      padding: 0px 10px;
      &:first-child{
        padding:0px 10px 0px 0px;
      }
    }
  }
}
