//<MATERIAL ICON>===========================================================================================================
@import '~material-design-icons/iconfont/material-icons.css';
//</MATERIAL ICON>===========================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import 'var.scss';
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<МИКСИНЫ>===============================================================================================
@import 'mixin.scss';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@include font("Roboto","Roboto-Regular",400,normal);
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'reset.scss';
body {
	color: #000;
	font-size: 14px;
	font-family: "Roboto";
	&.lock {
		overflow: hidden;
	}
}
input,
button,
textarea {
	font-family: $fontfamily;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{
	max-width:$mw+px;
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;
	@media (max-width:$md1+px){
		max-width: 960px;
	}
	@media (max-width:$md2+px){
		max-width: 720px;
	}
	@media (max-width:$md3+px){
		max-width: 540px;
	}
	@media (max-width:$md4+px){
		max-width: none;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.exel{
	@import 'exel/exel.scss';
}

.dashboard{
	@import 'dashboard/dashboard.scss';
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
