$minwidth:320px;
$mw:1170;
$md1:$mw+60;
$md2:992.98;
$md3:767.98;
$md4:576.98;

$headerHeight: 60px;
$toolbarHeight: 38px;
$formulaHeight: 29px;
$border: 1px solid #dadce0;
$widthCellStartAndNumber: 40px;
$widthCell: 120px;
